<div id="<%= dom_id group %>">
<%@groups.each do |category| %>
          <div class="row border mb-4">
           <div class="col p-2 text-start">
              <p><%= category.icon %></p>
            </div>
            <div class="col-4 p-2 text-start">
              <%= link_to category.name, user_group_path(user_id: group.user_id, id: group.id), class: 'nav-link mb-3 fs-4 link-dark' %>
              </div>
          </div>
        <% end %>

</div>
